<div class="createsession">
    <%= simple_form_for (@session) do |f| %>

        <%= image_tag("https://res.cloudinary.com/dnwnxu6xb/image/upload/v1583168428/young-asia-happy-lady-live-video-blog-vlogger-sales-clothes-online-e-commerce-shopping-shop_53255-543_eracxy.jpg") %>
        <%= f.input :photo, as: :file %>
        <%= f.input :title %>
        <%= f.input :date, :label=>"Live cast date" %>
        <%= f.input :starttime, :label=>"Starting time" %>
        <%= f.collection_radio_buttons :state, [['Public', 'Public'] ,['Private', 'Private']],:first, :last %> <br>
        <%=f.collection_radio_buttons :productscategory, [['Makeup', 'Makeup'] ,['Clothes', 'Clothes'],['Shoes', 'Shoes'],['Bags', 'Bags']],:first, :last%>
        <%=f.submit%>
  <%end%>
</div>
