<h1>Hello <%=current_user.id%>, welcome to your store</h2>

<%=link_to "Add a new product to your store", new_store_product_path(@store) %>

<%if (params[:livecast] != nil)%>

<%=link_to "Back to my sessions", usermylivecasts_path %>

<%end%>

<div class= "productshow">
    <div>
      <div class="displayproducts">

      <% @products.each do |product| %>



            <%= product.description %>
            <%= product.color%>
            <%= product.size%>
            <%= product.price%>


            <%if (params[:livecast] != nil)%>
            <%= link_to "Add to livecast",livecast_product_selection_path(params[:livecast],product.id) %>
            <%end%>
      <%end%>
      </div>
    </div>

</div>


