<h1>Hello <%=current_user.id%>, welcome to your store</h2>

<%=link_to "Add a new product to your store", new_store_product_path(@store) %>

<%if (params[:livecast] != nil)%>

<%=link_to "Back to my sessions", usermylivecasts_path %>

<%end%>

<% @products.each do |product| %>

  <div class= "productshow">
    <div>
      <div class="displayproducts">
          <div class="card-trip">
<%raise%>
        <% product.photos.each do |photo| %>

            <%= cl_image_tag product.photo.key, height: 300, width: 400, crop: :fill %>
        <% end %>


        <div class="card-trip-infos">
          <div>
              <h2><%= product.description %></h2>
              <p><%= product.color%></p>
              <p><%= product.size%></p>
          </div>
          <h2 class="card-trip-pricing"><%= product.price%></h2>
        </div>
      </div>

            <%if (params[:livecast] != nil)%>
            <%= link_to "Add to livecast",livecast_product_selection_path(params[:livecast],product.id) %>
            <%end%>
<%end%>
      </div>


