<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
<div id="wrapper">
<div class="row">
  <% if @selection != nil %>
 <div class="sticky">
  <div class="col-sm-3">

    <div id="sidebar">

        <div class="cart-icon-bottom"></div>
        <div> <h3>Add to selection</h3></div>


        <ul>
          <% @selection.each do |selection| %>
          <% product = Product.find(selection.product_id)%>
          <li><%= product.description %></li> <%= link_to "delete", livecast_product_destroyselection_path(:id => selection.id, :livecast_id => @livecast.id,:product_id => product.id),method: :delete %>
          <%end%>
        </ul>
      </div>
    </div>
  </div>
 <% end %>



              <% @products.each do |product| %>
           <% if @selection == nil %>
            <div class =" col-sm-12 col-lg-4">
          <% else%>
           <div class =" col-sm-9 col-lg-3">
            <%end%>
                    <div class="product">
                      <div class="info-large">
                        <h4><%=product.description%></h4>

                        <div class="price-big">
                          <span><%= humanized_money_with_symbol(product.price) %></span>
                        </div>

                        <h3>COLORS</h3>
                        <div class="colors-large">
                          <ul>
                            <li><%= product.colors%><span></span></a></li>
                          </ul>
                        </div>

                        <h3>SIZE</h3>
                        <div class="sizes-large">
                          <span><%product.sizes.each do |size|%>
                                <%=size.name %>
                                <%end%>
                          </span>
                        </div>

                        <button class="add-cart-large">Add To Selection</button>

                      </div>
                      <div class="make3D">
                        <div class="product-front">
                          <div class="shadow"></div>`
                          <% if product.pictures.attachments.present? %>
                          <%= cl_image_tag product.pictures[0].key %>
                          <% end %>
                          <div class="image_overlay"></div>

                          <div class="view_gallery">View gallery</div>
                          <div class="stats">
                            <div class="stats-container">
                              <span class="product_price"><%= humanized_money_with_symbol(product.price) %></span>
                              <span class="product_name"><%=product.description%></span>


                              <div class="product-options">

                                <% if product.kind == 'Clothes' %>
                                  <strong>SIZES Available</strong>
                                  <span><%product.sizes.each do |size|%>
                                   Size : <%= size.name %>
                                  <% productsize = ProductSize.where(product_id: product.id , size_id: size.id)%>
                                  Qty left: <%= productsize[0].quantity %></br>
                                  <%end%>

                                  </span>
                                <%elsif product.kind == 'Shoes' %>
                                  <strong>SIZES Available</strong>
                                  <span><%product.shoesizes.each do |shoesize|%>
                                  Size :<%= shoesize.name %>
                                  <% productshoesize = ProductShoesize.where(product_id: product.id , shoesize_id: shoesize.id)%>
                                  Qty left:<%= productshoesize[0].quantity %></br>
                                  <%end%>
                                  </span>
                                <%end%>


                              <% if product.kind != 'Clothes' and product.kind != 'Shoes' %>
                                <strong>COLORS</strong>
                                <div class="colors">
                                   <span><%product.colors.each do |color|%>
                                  Color :<%= color.name %>
                                  <% productcolor = ProductColor.where(product_id: product.id , color_id: color.id)%>
                                  Qty left:<%= productcolor[0].quantity %></br>
                                  <%end%>
                                  </span>
                                </div>
                               <%end%>

                          <% if @selection != nil %>
                          <%= link_to "Add to selection",livecast_product_selection_path(params[:livecast],product.id), class: "btn btn-primary" %>
                          <% end %>

                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="product-back">
                          <div class="shadow"></div>
                          <div class="carousel">
                            <ul class="carousel-container">
                              <% if product.pictures.attachments.present? %>
                                <% product.pictures.each do |picture| %>
                                  <li><%= cl_image_tag picture.key %></li>
                                <%end%>
                              <% end %>
                            </ul>
                            <div class="arrows-perspective">
                              <div class="carouselPrev">
                                <div class="y"></div>
                                <div class="x"></div>
                              </div>
                              <div class="carouselNext">
                                <div class="y"></div>
                                <div class="x"></div>
                              </div>
                            </div>
                          </div>
                          <div class="flip-back">
                            <div class="cy"></div>
                            <div class="cx"></div>
                          </div>
                        </div>
                      </div>
                    </div>
    </div>
                 <%end%>
              </div>
  </div>

    </div>

  </div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

