<div class="row">
    <% @livecasts.each do |livecast| %>
      <div class="col-sm-12 p-3">
        <div class="profile profile-smallimg">
          <div style="text-align: right; padding:10px;">
                        <%= link_to livecast_path(livecast.id), method: :delete do%>
                              <i class="fas fa-trash-alt"></i>
                            <%end%>
          </div>
          <div class="profile__image"><%= cl_image_tag livecast.picture.attachment.key, height: 300, width: 400, crop: :fill, class: "img-rounded" %></div>

          <div class="profile__info">
              <h3 id="Titlecard"><%= livecast.title %></h3>
              <p class="Descriptioncard">From: <%= livecast.date %></p>
              <p>At: <%= livecast.start_time.strftime("%H:%M") %><p>
              <p>N°-Selected products: <h2 style="color:red;"><%= Selection.where(livecast: livecast).count %></p>
          </div>



            <%= simple_form_for (livecast) do |f| %>
              <%= f.input :url, label: "Paste your facebook live link here" %>
                <i class="fas fa-video"></i>
              <%=f.submit "Enter the live", class:"btn btn-danger"%>
            <%end%>

            <% livecast.store_id = @store.id %>
            <div class="profile__cta">
              <%= link_to store_path(livecast.store, livecast: livecast.id) ,class: "button" do %>
              <i class="fas fa-plus-circle"></i>Add products to your live sale
              <%end%>
            </div>
        </div>
      </div>
    <%end%>
</div>



