<div class="container-fluid">
    <div class="row">

          <div class="col-sm-12">

              <div id="fb-root"></div>
              <% i = 0 %>
              <script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v6.0&appId=<%=ENV["FB_ID"]%>&autoLogAppEvents=1"></script>
              <div class="fb-video" data-href="<%= @livecast.url %>" data-width="400" data-height="500" data-show-text="false">

             </div>
          </div>



        <div class="col-sm-12">
            <div style ="width: 100%; height: 500px;background-color: rgba(255, 255, 255); box-shadow: 2px 2px 2px lightgray;border-radius: 5px;margin-top: 10px;">
                <%= render 'chat_rooms/chat', chat_room: @chat_room %>
            </div>
        </div>



        <div class="col-sm-12">
                      <!--  if it is a seller profile  -->
                <% if @livecast.user_id == current_user.id %>
                                  <h1 style="box-shadow: 2px 2px 2px lightgray; background-color:#FF8080;color:white;border-top-right-radius: 5px;border-top-left-radius: 5px; margin-top:10px; margin-bottom: 1px;"> Livecast Earnings </h1>
                        <div id="chartearning" data-livecast="<%= @livecast.id %>" style ="margin-top:0px;background-color: rgba(255, 255, 255,0.5); box-shadow: 2px 2px 2px lightgray; border-bottom-left-radius: 5px;border-bottom-left-radius: 5px;">
                            <%= render "shared/chart", livecast: @livecast %>
                        </div>
                <%end%>
         </div>
    </div>

    <% if current_user.id != @livecast.user_id %>
    <h1 style="box-shadow: 2px 2px 2px lightgray; background-color:#FF8080;color:white;border-top-right-radius: 5px;border-top-left-radius: 5px;">Shop</h1>
      <div class="row">

        <% @selection.each do |selection| %>
         <div class =" col-sm-12 col-lg-3">
                      <% product = Product.find(selection.product_id) %>
                    <%= form_tag orders_path do %>
                      <div class="product">
                        <div class="info-large">
                          <h4><%=product.description%></h4>

                          <div class="price-big">
                            <span><%= humanized_money_with_symbol(product.price) %></span>
                          </div>

                          <h3>COLORS</h3>
                          <div class="colors-large">
                            <ul>
                              <li><%= product.colors%><span></span></a></li>
                            </ul>
                          </div>

                          <h3>SIZE</h3>
                          <div class="sizes-large">
                            <span><%product.sizes.each do |size|%>
                              <%=size.name %>
                              <%end%>
                            </span>
                          </div>

                          <button class="add-cart-large">Add To Selection</button>

                        </div>
                        <div class="make3D">
                          <div class="product-front">
                            <div class="shadow"></div>`
                            <% if product.pictures.attachments.present? %>
                            <%= cl_image_tag product.pictures[0].key %>
                            <% end %>
                            <div class="image_overlay"></div>

                            <%= hidden_field_tag 'product_id', product.id %>
                            <%= hidden_field_tag 'livecast_id', @livecast.id %>
                            <!-- Need to allow the customer to choose the size or color before buying  -->
                            <!-- Need to add a hidden_field with the (size or color ) depeding on the product.kind choosed  -->

                            <div class="view_gallery">View gallery</div>
                            <div class="stats">
                              <div class="stats-container">
                                <span class="product_price"><%= humanized_money_with_symbol(product.price) %></span>
                                <span class="product_name"><%=product.description%></span>


                                <div class="product-options">

                                  <% if product.kind == 'Clothes' %>
                                  <strong>SIZES Available</strong>

                                  <span><%product.sizes.each do |size|%>

                                    <div class="custom-control custom-radio">
                                      <input type="radio" class="custom-control-input" id="defaultChecked<%=i%>" name="product[size]" value="<%= size.id %>">
                                      <label class="custom-control-label" for="defaultChecked<%=i%>">Size :<%= size.name %></label>
                                    </div>
                                    <% i+=1 %>

                                    <% productsize = ProductSize.where(product_id: product.id , size_id: size.id)%>
                                    <% if @livecast.user_id == current_user.id %>
                                    Qty left : <%= productsize[0].quantity %>
                                    <%end%> <br>
                                    <%end%>
                                  </span>
                                  <%elsif product.kind == 'Shoes' %>
                                  <strong>SIZES Available</strong>

                                  <span><%product.shoesizes.each do |shoesize|%>
                                    <div class="custom-control custom-radio">
                                      <input type="radio" class="custom-control-input" id="defaultChecked<%=i%>" name="product[size]" value="<%= shoesize.id %>">
                                      <label class="custom-control-label" for="defaultChecked<%=i%>">Size :<%= shoesize.name %></label>
                                    </div>
                                    <% i+=1 %>

                                    <% productshoesize = ProductShoesize.where(product_id: product.id , shoesize_id: shoesize.id)%>
                                    <% if @livecast.user_id == current_user.id %>
                                    Qty left : <%= productshoesize[0].quantity %>
                                    <%end%> <br>
                                    <%end%>
                                  </span>
                                  <%end%>

                                  <% if product.kind != 'Clothes' and product.kind != 'Shoes' %>
                                  <strong>COLORS</strong>
                                  <div class="colors">
                                   <span><%product.colors.each do |color|%>
                                    <div class="custom-control custom-radio">
                                      <input type="radio" class="custom-control-input" id="defaultChecked<%=i%>" name="product[size]" value="<%= color.id %>">
                                      <label class="custom-control-label" for="defaultChecked<%=i%>">Color :<%= color.name %></label>
                                    </div>
                                    <% i+=1 %>

                                     Color: <%= color.name %>
                                     <% productcolor = ProductColor.where(product_id: product.id , color_id: color.id)%>
                                     <% if @livecast.user_id == current_user.id %>
                                     Qty left : <%= productcolor[0].quantity %>
                                     <%end%> <br>
                                     <%end%>
                                   </span>
                                 </div>
                                 <%end%>
                                 <%= submit_tag 'Buy now', class:"btn btn-primary" %>

                               </div>
                             </div>
                           </div>
                         </div>

                         <div class="product-back">
                          <div class="shadow"></div>
                          <div class="carousel">
                            <ul class="carousel-container">
                              <% if product.pictures.attachments.present? %>
                              <% product.pictures.each do |picture| %>
                              <li><%= cl_image_tag picture.key %></li>
                              <%end%>
                              <% end %>
                            </ul>
                            <div class="arrows-perspective">
                              <div class="carouselPrev">
                                <div class="y"></div>
                                <div class="x"></div>
                              </div>
                              <div class="carouselNext">
                                <div class="y"></div>
                                <div class="x"></div>
                              </div>
                            </div>
                          </div>
                          <div class="flip-back">
                            <div class="cy"></div>
                            <div class="cx"></div>
                          </div>
                        </div>
                        <%end%>
                      </div>
                    </div>
        </div>
      <%end%>
                  </div>

                </div>

              </div>

            </div>
        </div>

    <%end%>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

